@media only screen and (max-width: 960px) {
    #nav ul li {
        max-width: 25%;
    }

    #main {
        padding-bottom: 0;
    }

    .issue {
        width: 100%;
    }

    .issue img {
        width: 100%;
        height: auto;
    }

    #footer {
        position: static;
        left: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 720px) {
    body, #container, #header, #main, #footer {
        margin: 0 1%;
        padding: 0 1%;
    }

    #header h1 {
        font-size: 50px;
    }

    #nav ul li {
        width: 100%;
        max-width: 100%;
        margin: 5px 0;
        text-align: center;
    }

    #main {
        margin-top: 120px;
    }

    .home #main form {
        margin-top: 0;
    }

    form input {
        max-width: 95%;
    }
}