@media only screen and (max-width: 960px) {
    body, #container, #header, #nav, #nav ul, #main, #footer {
        max-width: 96%;
        margin: 0 1%;
        padding: 0 1%;
    }

    #header h1 {
        font-size: 50px;
    }

    #nav ul li {
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }

    #main {
        margin-top: 110px;
    }

    .home #main form {
        margin-top: 0;
    }

    form input {
        max-width: 95%;
    }

    #footer {
        position: static;
        margin-top: 20px;
    }
}